* {
  box-sizing: border-box;
}

body {
  background-color: $bg-main;
  color: $text-primary;

  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  direction: rtl;

  &.dark-mode {
  }

  main {
    max-width: $max-width-screen;
    width: 100vw;

    min-height: 100vh;

    margin-top: $header-height-wide;
    display: grid;
    justify-items: center;

    .page-container {
      width: $max-width-screen;
      margin: 0 auto;
    }
  }
}

@media (max-width: 1250px) {
  html,
  body {
    // font-size: 14px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  // color
}

a {
  text-decoration: none;
  color: inherit;
}
