* {
  box-sizing: border-box;
}

body {
  background-color: $bg-main;
  color: $text-primary;

  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  direction: rtl;
  font-family: assistant;

  &.dark-mode {
  }

  main {
    // width: 100vw;

    min-height: 100vh;

    margin-top: $header-height-wide;
    display: grid;
    justify-items: center;

    .page-container {
      // width: $max-width-screen;

      width: 100%;
      > div:not(.full-width) {
        max-width: $max-width-screen;
        margin: 0 auto;
      }
      .full-width {
        width: calc(100vw - 15px) !important;
      }
      margin: 81px auto;
    }
  }
}

@media (max-width: 1250px) {
  html,
  body {
    // font-size: 14px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.1;
  // color
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
