.clean-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
}

.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.no-shadow {
  box-shadow: none;
}

.circle {
  border-radius: 50%;
}

.bold {
  font-weight: 700;
}

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wrap-ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines you want */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
