


.clean-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.opacity-0 {
  opacity: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.no-shadow {
  box-shadow: none;
}

