/* app global css */
:root {
  // Brand colors
  --primary: #5806c7;
  --secondary: #f6540b;

  /* Backgrounds */
  --bg-main: #fbf8ff; /* Light pinkish background */
  --bg-secondary: #ffffff; /* Pure white lighter surface */

  --dark-bg: #0b0119; /* Dark background */
  --dark-bg-secondary: #130822; /* Dark, lighter surface */

  /* Text Colors */
  --text-primary: #404040; /* Gray for primary text */
  --text-white: #ffffff;

  /* Articles Colors */

  --color-gold: #e2b00d;

  --color-green: #55ebb1;

  --color-blue: #21c8fc;

  --color-bottle-green: #377d22;

  --color-orange: #ea5619;

  --color-scarlet: #a31f1f;

  --color-pink: #f202d5;

  --merkaz-gradient: linear-gradient(180deg, #a31f1f 0%, #f202d5 100%);

  --small-radius: 6px;
  --medium-radius: 8px;

  --header-height-wide: 114px;
  --header-height-narrow: 77px;

  --header-bg-color-wide: #ffff;
  --header-bg-color-narrow: --primary;

  --header-socials-background: #fbf8ff;

  --header-shadow: 0px 4px 69.7px 0px #5806c724;

  --vod-bg-color: #0b0119;
  --video-card-bg: #130822;

  --thumbnail-shadow: #0b01195c;

  --white-background: #ffffff;
  --pale-white-background: #ffffff66;

  --footer-logo-container-bg: #fbf8ff;

  --narrow-screen-number: 600;
  --narrow-screen: 600px;
  --medium-screen: 1216px;
  --large-screen: 1536px;

  --max-width-screen: 1200px;
}

// SCSS Colors

// Brand Colors

$primary: var(--primary);
$secondary: var(--secondary);

// Backgrounds
$bg-main: var(--bg-main);
$bg-secondary: var(--bg-secondary);

$dark-bg: var(--dark-bg);
$dark-bg-secondary: var(--dark-bg-secondary);

// Text Colors
$text-primary: var(--text-primary);
$text-white: var(--text-white);

// Article Colors
$color-gold: var(--color-gold);
$color-green: var(--color-green);
$color-blue: var(--color-blue);
$color-bottle-green: var(--color-bottle-green);
$color-orange: var(--color-orange);
$color-scarlet: var(--color-scarlet);
$color-pink: var(--color-pink);

$merkaz-gradient: var(--merkaz-gradient);

// HEADER
$header-height-wide: var(--header-height-wide);
$header-height-narrow: var(--header-height-narrow);

$header-bg-color-wide: var(--header-bg-color-wide);
$header-bg-color-narrow: var(--header-bg-color-narrow);

$header-socials-background: var(--header-socials-background);

$header-shadow: var(--header-shadow);

// VOD
$vod-bg-color: var(--vod-bg-color);
$video-card-bg: var(--video-card-bg);
$thumbnail-shadow: var(--thumbnail-shadow);

$white-background: var(--white-background);
$pale-white-background: var(--pale-white-background);

$footer-logo-container-bg: var(--footer-logo-container-bg);

// LAYOUT BREAKPOINTS
$narrow-screen: var(--narrow-screen);
$medium-screenl: var(--medium-screen);
$large-screen: var(--large-screen);

$max-width-screen: var(--max-width-screen);
